@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "./nav-bar.css";
@import "theme.css";
@import "switch.css";
@import "./studies.css";

:root{
    --primary:#E67E22;
    --dark:#373837; 
    --light:#e5d9c5;
    --fontFamily:'Roboto', sans-serif;
}

/* body{
    margin: 0px;
}
   */
.aboutMe-img{
    display: block;
    height: 100%; 
    width: 100%;
    object-fit: contain;
    padding-top: 6.5%;
}

.aboutMe-info{
    width: inherit;
    display: flex;
    font-family: var(--fontFamily);
    justify-content: space-around;
}

.aboutMe-info-col1{ 
    width: 60%;
}
.aboutMe-info-col2{ 
    width:30%;
    font-size: 32px;
    font-weight: bold;
}

